legacy-peer-deps=true
@elilillyco:registry=https://elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/
//elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/:_authToken=${ARTIFACTORY_ACCESS_TOKEN}
//elilillyco.jfrog.io/elilillyco/api/npm/Lilly-NPM/:always-auth=true