$theme-color-primary: #c25400;
$theme-color-secondary: #ffc000;
$theme-color-secondary-hover: #ffdf80;
$theme-color-tertiary: #502361;
$theme-color-dark-gray: #757575;
$theme-color-darker-gray: #5B6770;
$theme-color-light-gray: #d6d9db;
$theme-color-white: white;
$theme-color-light-black: #212121;
$theme-color-black: black;
$theme-color-mid-gray: #9E9E9E;

$theme-color-background-secondary: #ecedeb;

$theme-radius-button: 10px;
