@import './themes/colors';

.root {
  --lds-color-primary: #{$theme-color-primary};
  --lds-color-link-foreground: #{$theme-color-primary};
  --lds-color-footer-background: #{$theme-color-darker-gray};
  font-size: 16px;
}
